@using ProjetoMVC.Enums
@*Para vincular uma model a uma view:*@
@model UsuarioModel
@{
    ViewData["Title"] = "Cadastrar usuário";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar usuários</h1> 

</div>

<form asp-controller="Usuario" asp-action="CriarUsuario" method="post">

    <div class="form-group">
        <label for="nome">Nome Usuário</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="José da Silva">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">E-mail do Usuário</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="jose@gmail.com">
        @Html.ValidationMessageFor(x => x.Email)
    </div>    
    
    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Login so Usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div>    
    
    <div class="form-group">
        <label for="exampleInputEmail1">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="0">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Senha do usuário">
        @Html.ValidationMessageFor(x => x.Login)
    </div>


    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>


@*Para mapear cada input desse formulário: colocar "asp-for:"Nome" que é o atributo que está na model*@